<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="../public/images/favicon.ico.ico" type="image/x-icon">

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,900" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <title>Home Page</title>
</head>

<body>






</body>

</html>