<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form>
                <div id="first-input-section">
                    <div class="form-group">
                        <label for="user-email-input">Email address</label>
                        <input type="email" class="form-control" id="user-email-input" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="user-password-input">Password</label>
                        <input type="password" class="form-control" id="user-password-input" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="user-name-input">Display Name</label>
                        <input type="text" class="form-control" id="user-name-input"
                            placeholder="Choose a name to display to other users">
                    </div>
                    <div class="form-group">
                        <label for="user-imageUrl-input">Image URL</label>
                        <input type="text" class="form-control" id="user-imageURL-input"
                            placeholder="Enter a URL to an image to use as your profile image">
                    </div>
                </div>
                <hr>
                <div id="game-search-section">
                    <div id="game-search-bar-section">
                        <div class="input-group">
                            <input type="text" class="form-control" id="game-search-input"
                                placeholder="Search for a game" aria-label="Search for a game"
                                aria-describedby="game-search-button">
                            <div class="input-group-append">
                                <button class="btn btn-primary" id="game-search-button">Search</button>
                            </div>
                        </div>
                    </div>
                    <div id="game-search-results-section">
                        <!--thumbnails images/game titles generate here for the user to select and add to their list. Text below can be deleted at any point-->
                        <p>placeholder text so you can see this div for search results exists</p>
                    </div>
                    <div id="add-to-list-button-section">
                        <button class="btn btn-primary" id="add-to-list-button">Add to list</button>
                    </div>
                </div>
                <hr>
                <div id="user-list-section">
                    <div id="my-list-text-section">
                        <h2 id="my-list-title">My List:</h2>
                    </div>
                    <div id="user-list-gallery-section">
                        <!--This is where the thumbnail image/game names will appear once the user has confirmed they want the searched game added to their list. Text below can be deleted at any point-->
                        <p>placeholder text so you can see this div for the user's list exists</p>
                    </div>
                </div>
                <hr>
                <div id="save-profile-button-section">
                    <button class="btn btn-primary" id="save-profile-button">Save profile</button>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<!-- Importing jQuery library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--Importing Bootstrap JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<!--Importing our JavaScript-->
<script type="text/javascript" src="assets/board-game-atlas-api.js"></script>