.list-group-item {
  line-height: 2.5;
}
.index-icon {
  margin: 25px;
  height: 50px;
  width: 50px;

}

.landing-background {
  height: 100vh;
}

#index-buttons-section {
  background-color: white;
  background:rgba(255,255,255,0.5);
  padding: 40px;
  min-width: 40%;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  #index-buttons-section {
    min-width: 80%;
  }
}

#index-icons-section {
  text-align: center;
  margin-bottom: 50px;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

#index-title {
  font-weight: 900;
  font-size: 19vh;
  color: white;
}

#index-title-section {
  text-align: center;
}

#sign-up-button {
background-color: #DF3349;
color: white;
}

#log-in-button {
  background-color: #E5533B;
  color: white;
}

#jumbotron-title {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  font-weight: 900;
  font-size: 20vh;
  margin-left: 0px;
}

#jumbotron-caption {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  font-size: 4vh;
}

nav {
    margin: 0px;
    background-color: #E5533B;
}

#footer {
  background-color: #F09220;
}

.jumbotron {
  margin: 0px;
}

.background {
  background-color: #EB722E;
  padding-bottom: 20px;
  min-height: 100vh;
}

#main-title {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: white;
}

.match-display-section div {
  text-align: center;
  vertical-align: center;
}

#matches-display-section {
  margin-bottom: 60px;
  background-color: white;
  background:rgba(255,255,255,0.5);
  padding: 15px;
}

.match-image {
  max-width: 100%;
}

#LOGIN-button {
  background-color: #DF3349;
  color: white;
}